/* --- Base Styles --- */

/* Elements */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 307px;
    margin-bottom: 90px;
}

header {
    background-color: thistle;
    padding: 5px;
    text-align: center;
}

h1 {
    margin-top: 0;
}


a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: palevioletred;
}

footer {
    text-align: center;
    background-color: lightgray; 
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Classes */

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 5px lightgray;
}

.nav a {
    display: block;
    padding: 10px 15px;
}

.nav li {
    background-color: white;
}

.nav {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.main-content {
    width: 90%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.welcome-header,
.welcome  {
    text-align: center;
}


/* Media Queries */
@media (min-width: 769px) {
    
    body {
        padding-top: 156px;
    }

    .nav li {
        display: inline-block;
        background-color: white;
        border-radius: 1em;
    }


    .main-content {
        width: 50%;
        margin: 0 auto;
    }

    .column {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
    }

    .first {
        width: 40%;

    }

    .second {
        width: 60%;
    }

}
